# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

readme.md           @LuckyTea
core/               @LuckyTea @JohnDoe
cmd/clef            @JohnDoe
